* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #18191a;
  color: #fff;
}

header {
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #242526;
  border-bottom: 1px solid #393a3b;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.logo {
  height: 40px;
}

main {
  display: flex;
  padding-top: 60px;
}

aside {
  width: calc(100% / 3);
}
.page-content {
  width: calc(100% / 3);
}

.post {
  background-color: #242526;
  margin-top: 30px;
  border-radius: 10px;
}
.post__header {
  padding: 10px;
}
.post__author {
  display: flex;
  align-items: center;
}
.post__author-img {
  height: 40px;
  margin-right: 10px;
}
.post__image img {
  width: 100%;
}
.post__content {
  padding: 10px;
}

.post__comments {
  padding: 30px;
  border-top: 1px solid #393a3b;
}
.post__comments ul {
  list-style: none;
}

.comment {
  margin-bottom: 10px;
  display: flex;
  width: 100%;
}
.comment__message {
  background-color: #3A3B3C;
  padding: 10px;
  border-radius: 5px;
}
.comment__author-img img {
  height: 30px;
  margin-right: 10px;
}